<h1 class="text-center text-lg font-semibold">Void Trader</h1>

<div class="flex justify-between">
  <span *ngIf="!voidTrader().active"
    >Arrives at <strong>{{ voidTrader().location }}</strong></span
  >

  <span *ngIf="voidTrader().active"
    >Departs <strong>{{ voidTrader().location }}</strong></span
  >

  <app-countdown-timer
    [expires]="
      voidTrader().active ? voidTrader().expiry : voidTrader().activation
    "
  ></app-countdown-timer>
</div>

<table class="border-collapse table-auto w-full mt-2">
  <thead class="border-b">
    <tr>
      <th class="text-left">Item</th>
      <th class="text-center">Ducats</th>
      <th class="text-center">Credits</th>
    </tr>
  </thead>

  <tbody class="max-h-[80px] overflow-y-scroll">
    <tr *ngFor="let item of inventory()" class="">
      <td class="">{{ item.item }}</td>
      <td class="text-right">{{ item.ducats }}</td>
      <td class="text-right">{{ item.credits | number }}</td>
    </tr>
  </tbody>
</table>
