<div
  class="bg-slate-200/25 p-2 backdrop-blur-sm border rounded-sm shadow-xs"
  [ngClass]="{
    'bg-blue-500/10': highlighted(),
    'border-blue-500': highlighted(),
  }"
>
  <div class="flex items-center">
    <img
      [src]="url()"
      [alt]="fissure().tier"
      class="h-12 w-12"
      [class.glitch-animate]="glitching()"
    />
    <div class="pl-2 flex-1 overflow-hidden">
      <div class="flex justify-between space-x-4">
        <div class="whitespace-nowrap overflow-hidden">
          {{ fissure().tier }} - {{ fissure().missionType }}
        </div>
        <div class="whitespace-nowrap overflow-hidden">
          {{ fissure().node }}
        </div>
      </div>
      <div class="flex justify-between">
        <div>{{ fissure().enemy }}</div>
        <app-countdown-timer [expires]="fissure().expiry"></app-countdown-timer>
      </div>
    </div>
  </div>
</div>
